/* You can add global styles to this file, and also import other style files */
.global-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  .module-wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    .module {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
    }
  }
}
